@page
  margin: 27mm 16mm 27mm 16mm
  size: A4

@page :left
  @bottom-left
    content: counter(page)

@page :right
  @bottom-right
    content: counter(page)

.wrapper
  page-break-after: always

html, body, .wrapper
  margin: 0
  padding: 0

.frontcover
  h1
    font-size: 72px
    text-align: center
  p
    font-size: 52px
    text-align: center

.dedication
  p
    font-size: 24px
    font-style: oblique
    padding: 25% 2% 0% 5%

.toc
  h1
    font-size: 36px
    padding-top: 2%
    text-align: center
  ol
    list-style-type: none
    li
      font-size: 15px
      line-height: 2

.recipe
  blockquote p
    font-size: 16px
    opacity: 0.75
    padding-left: 25mm
  h1
    font-size: 36px
    font-style: bold
    font-weight: 400
    padding-left: 20mm
  h2
    font-size: 24px
    font-style: normal
    font-weight: 500
    padding-left: 30mm
  h3
    font-size: 18px
    font-style: italic
    opacity: 0.8
    padding-left: 40mm
  img
    max-height: 75mm
    padding-top: 10mm
    width: 100%
  p
    font-size: 14px
  ul
    li
      font-size: 15px
