.wrapper.dedication
  p.
    À l'occasion de ton anniversaire, j'ai composé ce petit livre de cuisine
    végétarien avec des recettes que j'ai trouvé çà et là sur internet et qui
    me m'ont plus ou moins mis l'eau à la bouche et qui, je l'espère, te
    feront le même effet :).
