doctype html
html
  head
    title Table des matières - Livre de cuisine pour ma maman
    meta(charset="utf8")
    link(rel="stylesheet" href="styles.css")
body.cover
  .wrapper
    p.
      À l'occasion de ton anniversaire, j'ai composé ce petit livre de cuisine
      végétarien avec des recettes que j'ai trouvé çà-et-là sur internet et qui
      me paraissent intéressantes :).
