doctype html
html
  head
    meta(charset="utf8")
    meta(name="viewport" content="width=794, height=1123, initial-scale=1")
    title Livre de cuisine pour ma maman
    link(rel="stylesheet" href="styles.css")
  body!= book
