doctype html
html
  head
    title Table des matières - Livre de cuisine pour ma maman
    meta(charset="utf8")
    link(rel="stylesheet" href="../styles.css")
body.cover
  .wrapper
    h1 Table des matières
    ol
      each val in recipesTitles
        li= val
